@if (checkboxes) {
  <div class="govuk-checkboxes__item">
    <input
      #checkbox
      type="checkbox"
      class="govuk-checkboxes__input"
      [id]="checkboxes.id() + '-' + value() + '-checkbox'"
      [name]="name()"
      [value]="value()"
      [disabled]="disabled()"
      [checked]="isChecked()"
      (input)="toggle($event)"
      [attr.data-behaviour]="exclusive() ? 'exclusive' : undefined"
      [attr.data-aria-controls]="'conditional-' + checkboxes.id() + '-' + value() + '-checkbox'"
    />
    @if (label()) {
      <label
        class="govuk-label govuk-checkboxes__label"
        [htmlFor]="checkboxes.id() + '-' + value() + '-checkbox'"
      >
        {{ label() }}
      </label>
    }

    @if (hint()) {
      <div [id]="id() + '-hint'" class="govuk-hint govuk-checkboxes__hint">
        {{ hint() }}
      </div>
    }
  </div>
  <div
    class="govuk-checkboxes__conditional"
    [class.govuk-checkboxes__conditional--hidden]="!isChecked()"
    [id]="'conditional-' + checkboxes.id() + '-' + value() + '-checkbox'"
  >
    <ng-content></ng-content>
  </div>
}

@if (!checkboxes) {
  <div class="govuk-form-group" [class.govuk-form-group--error]="error()">
    <fieldset class="govuk-fieldset" [attr.aria-describedby]="hint() ? id() + '-hint' : undefined">
      @if (title()) {
        <legend class="govuk-fieldset__legend">
          <h1 class="govuk-fieldset__heading">{{ title() }}</h1>
        </legend>
      }

      @if (hint()) {
        <div id="countries-hint" class="govuk-hint">{{ hint() }}</div>
      }

      @if (error()) {
        <app-error-message [id]="id()">
          {{ error() }}
        </app-error-message>
      }

      <div
        class="govuk-checkboxes"
        [class.govuk-checkboxes--small]="size() === 'small'"
        data-module="govuk-checkboxes"
      >
        <div class="govuk-checkboxes__item">
          <input
            #checkbox
            type="checkbox"
            class="govuk-checkboxes__input"
            [id]="id()"
            [name]="name()"
            [value]="value()"
            [disabled]="disabled()"
            [checked]="isChecked()"
            (input)="toggle($event)"
            [attr.data-behaviour]="exclusive() ? 'exclusive' : undefined"
            [attr.data-aria-controls]="'conditional-' + id()"
          />

          @if (label()) {
            <label class="govuk-label govuk-checkboxes__label" for="{{ id() }}">
              {{ label() }}
            </label>
          }
        </div>

        <div
          class="govuk-checkboxes__conditional"
          [class.govuk-checkboxes__conditional--hidden]="!isChecked()"
          [id]="'conditional-' + id()"
        >
          <ng-content></ng-content>
        </div>
      </div>
    </fieldset>
  </div>
}
