@if (parent) {
  @if (techRecord(); as techRecord) {
    @let vehicleType = techRecord.techRecord_vehicleType;

    <div [formGroup]="parent">
      <app-date-input
        *forTags="['Plates', 'Required']; filters: filters()"
        [label]="'Date of first registration'"
        [hint]="'For example, 27 3 2024'"
        [formControlName]="'techRecord_regnDate'"
      ></app-date-input>

      @if (vehicleType === 'trl') {
        <app-select
          *forTags="[]; filters: filters()"
          [label]="'Month of manufacture'"
          [formControlName]="'techRecord_manufactureMonth'"
          [options]="constants.monthOptions"
          class="govuk-input--width-10"
        ></app-select>
      }

      <app-text-input
        *forTags="['Plates']; filters: filters()"
        [label]="'Year of manufacture'"
        [formControlName]="'techRecord_manufactureYear'"
        [type]="'number'"
        class="govuk-input--width-4"
      ></app-text-input>

      @if (vehicleType === 'psv') {
        <app-typeahead
          *forTags="[]; filters: filters()"
          [label]="'DTp number'"
          [formControlName]="'techRecord_brakes_dtpNumber'"
          [placeholder]="'Select DTp number'"
          [options]="[]"
          [id]="'techRecord_brakes_dtpNumber'"
        ></app-typeahead>
      }

      @if (vehicleType === 'hgv' || vehicleType === 'trl' || vehicleType === 'psv') {
        <app-text-input
          *forTags="[]; filters: filters()"
          [label]="'DTp number'"
          [formControlName]="'techRecord_brakes_dtpNumber'"
          class="govuk-input--width-10"
        ></app-text-input>
      }

      @if (vehicleType === 'car' || vehicleType === 'motorcycle') {
        <app-text-input
          *forTags="[]; filters: filters()"
          [label]="'Vehicle configuration'"
          [formControlName]="'techRecord_vehicleConfiguration'"
          class="govuk-input--width-10"
        ></app-text-input>
      }

      @if (vehicleType !== 'car' && vehicleType !== 'motorcycle') {
        <app-select
          *forTags="[]; filters: filters()"
          [label]="'Vehicle configuration'"
          [placeholder]="'Select configuration'"
          [options]="constants.vehicleConfigurationOptions[vehicleType]"
          [formControlName]="'techRecord_vehicleConfiguration'"
          class="govuk-input--width-10"
        ></app-select>
      }

      @if (vehicleType === 'motorcycle') {
        <app-select
          *forTags="[]; filters: filters()"
          [label]="'Vehicle class'"
          [placeholder]="'Select vehicle class'"
          [formControlName]="'techRecord_vehicleClass_description'"
          [options]="constants.vehicleClassOptions"
          class="govuk-input--width-10"
        ></app-select>
      }

      @if (vehicleType === 'trl') {
        <app-select
          *forTags="[]; filters: filters()"
          [label]="'Frame description'"
          [formControlName]="'techRecord_frameDescription'"
          [placeholder]="'Select frame description'"
          [options]="constants.frameDescriptionOptions"
          class="govuk-input--width-10"
        ></app-select>
      }

      @if (vehicleType === 'psv') {
        <app-text-input
          *forTags="[]; filters: filters()"
          [label]="'Chassis make'"
          [formControlName]="'techRecord_chassisMake'"
        ></app-text-input>

        <app-text-input
          *forTags="[]; filters: filters()"
          [label]="'Chassis model'"
          [formControlName]="'techRecord_chassisModel'"
        ></app-text-input>
      }

      @if (vehicleType === 'psv') {
        <app-text-input
          *forTags="[]; filters: filters()"
          [label]="'Body make'"
          [formControlName]="'techRecord_bodyMake'"
        ></app-text-input>

        <app-text-input
          *forTags="[]; filters: filters()"
          [label]="'Body model'"
          [formControlName]="'techRecord_bodyModel'"
        ></app-text-input>
      }

      @if (vehicleType === 'psv') {
        <app-text-input
          *forTags="[]; filters: filters()"
          [label]="'Vehicle class'"
          [formControlName]="'techRecord_vehicleClass_description'"
        ></app-text-input>
      }

      @if (vehicleType === 'car' || vehicleType === 'lgv' || vehicleType === 'motorcycle') {
        <app-checkboxes
          *forTags="[]; filters: filters()"
          [label]="'Vehicle subclass'"
          [formControlName]="'techRecord_vehicleSubclass'"
          [options]="constants.vehicleSubclassOptions"
        ></app-checkboxes>
      }

      @if (vehicleType === 'hgv' || vehicleType === 'trl' || vehicleType === 'psv') {
        <app-select
          *forTags="[]; filters: filters()"
          [label]="'Body make'"
          [formControlName]="'techRecord_make'"
          [options]="[]"
          placeholder="Select body make"
          class="govuk-input--width-10"
        ></app-select>

        <app-text-input
          *forTags="[]; filters: filters()"
          [label]="'Body model'"
          [formControlName]="'techRecord_model'"
          class="govuk-input--width-10"
        ></app-text-input>
      }

      @if (vehicleType === 'psv') {
        <app-text-input
          *forTags="[]; filters: filters()"
          [label]="'Body type'"
          [formControlName]="'techRecord_bodyType_description'"
        ></app-text-input>
      }

      @if (vehicleType === 'hgv' || vehicleType === 'trl') {
        <app-select
          *forTags="[]; filters: filters()"
          [label]="'Body type'"
          [formControlName]="'techRecord_bodyType_description'"
          [options]="[]"
          placeholder="Select body type"
          class="govuk-input--width-10"
        ></app-select>
      }

      @if (vehicleType === 'psv') {
        <app-text-input
          *forTags="[]; filters: filters()"
          [label]="'Model literal'"
          [formControlName]="'techRecord_modelLiteral'"
        ></app-text-input>
      }

      @if (vehicleType === 'hgv' || vehicleType === 'trl') {
        <app-select
          *forTags="[]; filters: filters()"
          [label]="'Function code'"
          [formControlName]="'techRecord_functionCode'"
          [options]="[]"
          placeholder="Select function code"
          class="govuk-input--width-10"
        ></app-select>

        <app-text-input
          *forTags="[]; filters: filters()"
          [label]="'Conversion reference number'"
          [formControlName]="'techRecord_conversionRefNo'"
          appNoSpace
          appToUppercase
          appTrimWhitespace
          class="govuk-input--width-10"
        ></app-text-input>
      }

      @if (vehicleType !== 'trl') {
        <app-radios
          *forTags="[]; filters: filters()"
          [label]="'EU vehicle category'"
          [formControlName]="'techRecord_euVehicleCategory'"
          [options]="constants.euVehicleCategoryOptions[vehicleType]"
        ></app-radios>
      }

      @if (vehicleType === 'motorcycle') {
        <app-text-input
          *forTags="[]; filters: filters()"
          [type]="'number'"
          [label]="'Number of wheels'"
          [formControlName]="'techRecord_numberOfWheelsDriven'"
        ></app-text-input>
      }

      <app-text-input
        *forTags="[]; filters: filters()"
        type="number"
        label="Number of axles"
        formControlName="techRecord_noOfAxles"
        hint="This will affect how many axle-related fields appear in the record"
        class="govuk-input--width-2"
      ></app-text-input>
    </div>
  }
}
