@switch (variant()) {
  @case ('start') {
    <a
      href="#"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start"
      data-module="govuk-button"
    >
      Start now
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        aria-hidden="true"
        focusable="false"
      >
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  }
  @default {
    <button
      type="submit"
      class="govuk-button"
      data-module="govuk-button"
      data-prevent-double-click="true"
      [id]="id()"
      [type]="type()"
      [attr.disabled]="disabled() ? '' : undefined"
      [attr.aria-disabled]="disabled() ? '' : undefined"
      [class.govuk-button--secondary]="theme() === 'secondary'"
      [class.govuk-button--warning]="theme() === 'warning'"
      [class.govuk-button--inverse]="theme() === 'inverted'"
    >
      <ng-content></ng-content>
    </button>
  }
}
