.example {
  overflow: hidden;
  border: 1px solid var(--color-mid-grey);
  border-bottom: 0;
  margin-bottom: 30px;
}
.example::ng-deep govuk-tabs .govuk-tabs {
  margin-bottom: 0;
}
.example::ng-deep govuk-tabs .govuk-tabs__panel {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.example::ng-deep govuk-tabs .govuk-tabs__list {
  border-top: 1px solid var(--color-mid-grey);
}
.example::ng-deep govuk-tabs .govuk-tabs__list-item {
  background-color: transparent;
  padding-top: 14px;
  padding-bottom: 16px;
}
.example::ng-deep govuk-tabs .govuk-tabs__list-item--selected {
  margin-top: -1px;
  margin-left: -1px;
}
