@import 'govuk-frontend/dist/govuk/index';

@font-face {
  font-family: 'GDS Transport';
  font-weight: 700;
  src: url('govuk-frontend/dist/govuk/assets/fonts/bold-affa96571d-v2.woff');
}

@font-face {
  font-family: 'GDS Transport';
  font-weight: 600;
  src: url('govuk-frontend/dist/govuk/assets/fonts/bold-b542beb274-v2.woff2');
}

@font-face {
  font-family: 'GDS Transport';
  font-weight: 500;
  src: url('govuk-frontend/dist/govuk/assets/fonts/light-f591b13f7d-v2.woff');
}

@font-face {
  font-family: 'GDS Transport';
  font-weight: 400;
  src: url('govuk-frontend/dist/govuk/assets/fonts/light-94a07e06a1-v2.woff2');
}