.ta-backdrop {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.suggestions-container {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #b1b4b6;
  border-left: 1px solid #b1b4b6;
  border-right: 1px solid #b1b4b6;
  background-color: #fff;
  overflow: auto;
  max-height: 24rem;
}

.suggestion {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  border: 0;
  padding: 0;
}
