<h1 class="govuk-heading-l">Create a new technical record</h1>

<form class="form" [formGroup]="form">
  <app-text-input
    appToUppercase
    appNoSpace
    appTrimWhitespace
    label="Vehicle Identification Number (VIN)"
    hint="Must be between 3 and 21 characters"
    formControlName="vin"
  ></app-text-input>

  <app-checkbox
    title="Generate C, T or Z number"
    formControlName="generateID"
    name="generate-c-t-z-num"
    label="Generate C, T or Z number on submission of the new record"
    [value]="true"
  ></app-checkbox>

  @if (!form.get('generateID')?.value) {
    <app-text-input
      appToUppercase
      appNoSpace
      appTrimWhitespace
      label="Vehicle Registration Mark (VRM) or Trailer ID"
      formControlName="vrmTrm"
    ></app-text-input>
  }

  <app-radios
    label="Vehicle status"
    formControlName="status"
    orientation="horizontal"
    [options]="constants.vehicleStatusOptions"
  ></app-radios>

  <app-radios id="type" label="Vehicle type" formControlName="type">
    <app-radio label="Heavy Goods Vehicle (HGV)" value="hgv"></app-radio>
    <app-radio label="Trailer (TRL)" value="trl">
      <app-radios
        id="techRecord_euVehicleCategory"
        label="Select an EU vehicle category"
        hint="This will determine the fields that appear in the record"
        formControlName="techRecord_euVehicleCategory"
      >
        <app-radio label="O1" value="O1"></app-radio>
        <app-radio label="O2" value="O2"></app-radio>
        <div class="govuk-radios__divider">or</div>
        <app-radio label="O3" value="O3"></app-radio>
        <app-radio label="O4" value="O4"></app-radio>
      </app-radios>
    </app-radio>
    <app-radio label="Public Service Vehicle (PSV)" value="psv"></app-radio>
    <app-radio label="Light Goods Vehicle (LGV)" value="lgv"></app-radio>
    <app-radio label="Car" value="car"></app-radio>
    <app-radio label="Motorcycle" value="motorcycle"></app-radio>
  </app-radios>

  <hr class="govuk-section-break govuk-section-break--m" />

  <app-button-group>
    <app-button [id]="'create-tech-record-continue-btn'" (click)="onContinue()">
      Continue
    </app-button>
    <app-button [id]="'create-tech-record-cancel-btn'" theme="secondary" (click)="onCancel()">
      Cancel
    </app-button>
  </app-button-group>
</form>
