@if (props(); as props) {
  @switch (props.type) {
    @case ('checkbox') {
      <app-checkbox
        [id]="props.id"
        [label]="props.label"
        [hint]="props.hint"
        [(ngModel)]="value"
        [disabled]="disabled()"
        (valueChange)="onChange($any($event))"
        (touched)="onTouched()"
      ></app-checkbox>
    }
    @case ('checkboxes') {
      <app-checkboxes
        [id]="props.id"
        [hint]="props.hint"
        [label]="props.label"
        [options]="props.options"
        [(ngModel)]="value"
        [disabled]="disabled()"
        (valueChange)="onChange($any($event))"
        (touched)="onTouched()"
      ></app-checkboxes>
    }
    @case ('date-input') {
      <app-date-input
        [id]="props.id"
        [hint]="props.hint"
        [label]="props.label"
        [(ngModel)]="value"
        [disabled]="disabled()"
        (valueChange)="onChange($any($event))"
        (touched)="onTouched()"
      ></app-date-input>
    }
    @case ('radios') {
      <app-radios
        [id]="props.id"
        [hint]="props.hint"
        [label]="props.label"
        [options]="props.options"
        [(ngModel)]="value"
        [disabled]="disabled()"
        (valueChange)="onChange($any($event))"
        (touched)="onTouched()"
      ></app-radios>
    }
    @case ('select') {
      <app-select
        [id]="props.id"
        [hint]="props.hint"
        [label]="props.label"
        [placeholder]="props.placeholder"
        [options]="props.options"
        [(ngModel)]="value"
        [disabled]="disabled()"
        (valueChange)="onChange($any($event))"
        (touched)="onTouched()"
      ></app-select>
    }
    @case ('text-input') {
      <app-text-input
        [id]="props.id"
        [hint]="props.hint"
        [label]="props.label"
        [placeholder]="props.placeholder"
        [(ngModel)]="value"
        [disabled]="disabled()"
        (valueChange)="onChange($any($event))"
        (touched)="onTouched()"
      ></app-text-input>
    }
    @case ('textarea') {
      <app-textarea
        [id]="props.id"
        [hint]="props.hint"
        [label]="props.label"
        [(ngModel)]="value"
        [disabled]="disabled()"
        (valueChange)="onChange($any($event))"
        (touched)="onTouched()"
      ></app-textarea>
    }
  }
}
