<div class="govuk-form-group" [class.govuk-form-group--error]="error()">
  <fieldset class="govuk-fieldset" [attr.aria-describedby]="hint() ? id() + '-hint' : undefined">
    @if (label()) {
      <legend class="govuk-fieldset__legend">
        <h1 class="govuk-fieldset__heading">{{ label() }}</h1>
      </legend>
    }

    @if (hint()) {
      <div id="{{ id() }}-hint" class="govuk-hint">{{ hint() }}</div>
    }

    @if (error()) {
      <app-error-message [id]="id()">
        {{ error() }}
      </app-error-message>
    }

    <div
      class="govuk-radios"
      [class.govuk-radios--small]="size() === 'small'"
      [class.govuk-radios--inline]="orientation() === 'horizontal'"
      data-module="govuk-radios"
    >
      <ng-content>
        @if (options(); as options) {
          @for (option of options; track $index) {
            <app-radio
              [id]="option.id || id() + '-' + option.value"
              [label]="option.label || ''"
              [value]="option.value"
              [hint]="option.hint || ''"
            ></app-radio>

            @if (option.divider) {
              <div class="govuk-radios__divider">{{ option.divider }}</div>
            }
          }
        }
      </ng-content>
    </div>
  </fieldset>
</div>
