<form [formGroup]="form">
  @if (techRecord(); as techRecord) {
    <app-accordion>
      <app-accordion-controls>
        <!-- General vehicle details -->
        @if (techRecordService.canHaveGeneralVehicleDetails(techRecord.techRecord_vehicleType)) {
          <app-accordion-section
            heading="General vehicle details"
            summary="Date of registration, body details, EU category."
          >
            <app-general-vehicle-details [techRecord]="techRecord" />
          </app-accordion-section>
        }

        <!-- Approval type (HGV, TRL) -->
        @if (techRecordService.canHaveApprovalType(techRecord.techRecord_vehicleType)) {
          <app-accordion-section
            heading="Approval type"
            summary="Approval type, national type, variant number."
          >
            <app-approval-type-form [techRecord]="techRecord" />
          </app-accordion-section>
        }

        <!-- Dimensions (HGV, TRL, PSV) -->
        @if (techRecordService.canHaveDimensions(techRecord.techRecord_vehicleType)) {
          <app-accordion-section heading="Dimensions" summary="Axle distance, vehicle dimensions.">
            <app-dimensions-form />
          </app-accordion-section>
        }

        <!-- Authorisation into service (TRL) -->
        @if (techRecordService.canHaveAuthorisationIntoService(techRecord.techRecord_vehicleType)) {
          <app-accordion-section
            heading="Authorisation into service"
            summary="Dates tracking the vehicle's authorisation into service."
          >
            <app-authorisation-into-service-form />
          </app-accordion-section>
        }

        <!-- Purchaser (TRL) -->
        @if (techRecordService.canHavePurchaser(techRecord.techRecord_vehicleType)) {
          <app-accordion-section heading="Purchaser" summary="Contact details for the purchaser.">
            <app-purchaser-form />
          </app-accordion-section>
        }

        <!-- Manufacturer -->
        @if (techRecordService.canHaveManufacturer(techRecord.techRecord_vehicleType)) {
          <app-accordion-section
            heading="Manufactuer"
            summary="Contact details for the manufacturer."
          >
            <app-manufacturer-form />
          </app-accordion-section>
        }

        <!-- Weights (HGV, TRL, PSV) -->
        @if (techRecordService.canHaveWeights(techRecord.techRecord_vehicleType)) {
          <app-accordion-section heading="Weights" summary="Axle weights, unladen weight.">
            <app-weights-form />
          </app-accordion-section>
        }

        <!-- Configuration -->
        <app-accordion-section
          heading="Configuration"
          summary="Off-road, fuel system, road friendly suspension."
        >
          <app-configuration-form />
        </app-accordion-section>

        <!-- Tyres (HGV, TRL, PSV) -->
        @if (techRecordService.canHaveTyres(techRecord.techRecord_vehicleType)) {
          <app-accordion-section heading="Tyres" summary="Tyre details, tyre use code.">
            <app-tyres-form />
          </app-accordion-section>
        }

        <!-- Emissions and exemptions -->
        @if (techRecordService.canHaveEmissionsAndExemptions(techRecord.techRecord_vehicleType)) {
          <app-accordion-section
            heading="Emissions and exemptions"
            summary="Drawbar coupling, Euro standard, tacho exemption."
          >
            <app-emissions-and-exemptions-form />
          </app-accordion-section>
        }

        <!-- ADR -->
        @if (techRecordService.canHaveAdr(techRecord.techRecord_vehicleType)) {
          <app-accordion-section heading="ADR" summary="Approval for carrying dangerous goods.">
            <app-adr-form />
          </app-accordion-section>
        }

        <!-- Last applicant -->
        @if (techRecordService.canHaveLastApplicant(techRecord.techRecord_vehicleType)) {
          <app-accordion-section
            heading="Last applicant"
            summary="Contact details for the last applicant."
          >
            <app-last-applicant-form />
          </app-accordion-section>
        }

        <!-- Seats and vehicle size -->
        @if (techRecordService.canHaveSeatsAndVehicleSize(techRecord.techRecord_vehicleType)) {
          <app-accordion-section
            heading="Seats and vehicle size"
            summary="Seat, vehicle size, seatbelts."
          >
            <app-seats-and-vehicle-size-form />
          </app-accordion-section>
        }

        <!-- Brakes -->
        @if (techRecordService.canHaveBrakes(techRecord.techRecord_vehicleType)) {
          <app-accordion-section heading="Brakes" summary="Brake codes, retarders, parking brakes.">
            <app-brakes-form />
          </app-accordion-section>
        }

        <!-- Disability discrimination act -->
        @if (
          techRecordService.canHaveDisabilityDiscriminationAct(techRecord.techRecord_vehicleType)
        ) {
          <app-accordion-section
            heading="Disability discrimination act"
            summary="Wheelchair capacity, accessibility, schedules."
          >
            <app-disability-discrimination-act-form />
          </app-accordion-section>
        }

        <!-- Documents -->
        @if (techRecordService.canHaveDocuments(techRecord.techRecord_vehicleType)) {
          <app-accordion-section heading="Documents" summary="Microfilm document details.">
            <app-documents-form />
          </app-accordion-section>
        }

        <!-- Notes -->
        @if (techRecordService.canHaveNotes(techRecord.techRecord_vehicleType)) {
          <app-accordion-section heading="Notes" summary="Notes attached to this record.">
            <app-notes-form />
          </app-accordion-section>
        }

        <!-- Reason for amendment -->
        @if (techRecordService.canHaveReasonForAmendment(techRecord.techRecord_vehicleType)) {
          <app-accordion-section
            heading="Reason for amendment"
            summary="Tell us why you're amending this record."
          >
            <app-reason-for-creation-form />
          </app-accordion-section>
        }
      </app-accordion-controls>
    </app-accordion>
  }
</form>
