version: '3.9'

services:
  db:
    platform: linux/x86_64
    image: mysql:8.0
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
      MYSQL_DATABASE: cms
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - '3306:3306'
